@font-face {
  font-family: Rubik;
  src: url("./fonts/static/Rubik-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header-top */

.header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.header-top-content button {
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background-color: #e81212;
  color: #fff;
  border: none;
}
.header-top-content button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.1s linear;
  cursor: pointer;
}

/* header-bottom */

.header-bottom {
  background-color: #e81212;
  padding: 12px 0 12px 0;
}
.header-bottom-content {
  display: flex;
  gap: 70px;
}
.header-list {
  display: flex;
  gap: 70px;
}
.header-item a {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  color: #fff;
}
.header-item a:hover {
  color: #443e3e;
  transition: all 0.1s linear;
  cursor: pointer;
}

/* header-phone */

.header-phone-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
/* hero-section */

.hero-section {
  background-image: url(./images/hero-section-img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 30px;
  width: 100%;
}
.hero-section-content h1 {
  margin-top: 120px;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.88px;
  color: #ffffff;
  max-width: 300px;
}
.hero-section-content span {
  margin-top: 120px;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.88px;
  color: #fccd05;
}
.kero_content_text_par p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  line-height: 23.7px;
  color: #fff;
  max-width: 300px !important;
  padding: 0;
}
.hero-section-content button {
  margin-top: 50px;
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background-color: #e81212;
  border: none;
  margin-bottom: 60px;
}
.hero-section-content button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.1s linear;
  cursor: pointer;
}
.hero-section .hero-section-img {
  display: flex;
  justify-content: end;
}

/* cards-section */

.cards-section-content {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-section-content-imgContainer {
  position: relative;
}
.cards-section-content-imgContainer h4 {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  color: #fff;
}
.cards-section-content-imgContainer p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #fff;
}
.cards-section-content-imgContainer span {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

/* product-section */

.product-section {
  margin-top: 100px;
}
.product-section-content-title {
  text-align: center;
  display: block;
  justify-content: center;
}
.product-section-content-title h1 {
  padding-bottom: 3px;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
}
.product-section-content-title p {
  padding-top: 20px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.product-section-content-category {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-section-content-category button {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 8px 20px;
  border: none;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #443e3e;
  transition: 0.2s !important;
  background: transparent;
  /* margin-bottom: 100px; */
}
.product-section-content-category button path {
  fill: #000;
  transition: 0.2s;
}
.product-section-content-category button:hover {
  background: linear-gradient(90deg, #e81212 0%, #fccd05 100%);
  color: #fff;
  cursor: pointer;
}
.product-section-content-category button:hover svg path {
  fill: white;
  cursor: pointer;
}
.product-section-content-card-Цветной {
  position: relative;
}
.product-section-content-card-Цветной .New {
  position: absolute;
  top: 0px;
  left: 35px;
}
.product-section-content-card-Цветной .discount {
  position: absolute;
  top: 40px;
  left: 35px;
}
.product-section-content-card-Цветной .like {
  position: absolute;
  top: 0px;
  left: 240px;
}
.product-section-content-card-Цветной .New button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #478ecc;
  border: none;
}
.product-section-content-card-Цветной .discount button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #e81212;
  border: none;
}
.product-section-content-card-Цветной .Video-review {
  position: absolute;
  left: 75px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-section-content-card-Цветной .Video-review p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #443e3e;
}
.product-section-content-card-Цветной .text {
  margin-top: 20px;
}
.product-section-content-card-Цветной .text h5 {
  margin-top: 40px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #443e3e;
  width: 245px;
}
.product-section-content-card-Цветной .availability {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-section-content-card-Цветной .availability p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #646469;
}
.product-section-content-card-Цветной div {
  margin-top: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #e81212;
}
.product-section-content-card-Цветной span {
  margin-top: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: line-through;
  color: #999999;
}
.product-section-content-card-Цветной .order {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.product-section-content-card-Цветной .order .btn1 {
  padding: 15px 24.5px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  border: none;
  background-color: #e81212;
  color: #ffffff;
}
.product-section-content-card-Цветной .order .btn2 {
  padding: 15px 49px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  border: none;
  border: 1px solid #e81212;
  color: #e81212;
}
/* Шутихи */

.product-section-content-card-Шутихи {
  position: relative;
}
.product-section-content-card-Шутихи .New {
  position: absolute;
  top: 20px;
  left: 35px;
}
.product-section-content-card-Шутихи .Hit {
  position: absolute;
  top: 60px;
  left: 35px;
}
.product-section-content-card-Шутихи .like {
  position: absolute;
  top: 20px;
  left: 240px;
}
.product-section-content-card-Шутихи .New button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #478ecc;
  border: none;
}
.par {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.product-section-content-card-Шутихи .Hit button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #443e3e;
  background: #fccd05;
  border: none;
}
.product-section-content-card-Шутихи .Video-review {
  position: absolute;
  left: 75px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-section-content-card-Шутихи .Video-review p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #443e3e;
}
.product-section-content-card-Шутихи .text {
  margin-top: 20px;
}
.product-section-content-card-Шутихи .text h5 {
  margin-top: 40px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #443e3e;
  width: 245px;
}
.product-section-content-card-Шутихи .availability {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-section-content-card-Шутихи .availability p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #646469;
}
.product-section-content-card-Шутихи h4 {
  padding-top: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #443e3e;
}
.product-section-content-card-Шутихи .order {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.product-section-content-card-Шутихи .order .btn1 {
  padding: 15px 24.5px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  border: none;
  background-color: #e81212;
  color: #ffffff;
}
.product-section-content-card-Шутихи .order .btn2 {
  padding: 15px 49px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  border: none;
  border: 1px solid #e81212;
  color: #e81212;
}

/* Салют */

.product-section-content-card-Салют {
  position: relative;
}
.product-section-content-card-Салют .recommend {
  position: absolute;
  top: 20px;
  left: 35px;
}
.product-section-content-card-Салют .like {
  position: absolute;
  top: 20px;
  left: 240px;
}
.product-section-content-card-Салют .recommend button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border: none;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #69a042;
}
.product-section-content-card-Салют .Video-review {
  position: absolute;
  left: 75px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-section-content-card-Салют .Video-review p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #443e3e;
}
.product-section-content-card-Салют .text {
  margin-top: 20px;
}
.product-section-content-card-Салют .text h5 {
  margin-top: 40px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #443e3e;
  width: 245px;
}
.product-section-content-card-Салют .availability {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-section-content-card-Салют .availability p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #646469;
}
.product-section-content-card-Салют h4 {
  padding-top: 40px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #443e3e;
}
.product-section-content-card-Салют .order {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.product-section-content-card-Салют .order .btn1 {
  padding: 15px 24.5px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  border: none;
  background-color: #e81212;
  color: #ffffff;
}
.product-section-content-card-Салют .order .btn2 {
  padding: 15px 49px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  border: none;
  border: 1px solid #e81212;
  color: #e81212;
}

/* Римская */

.product-section-content-card-Римская {
  position: relative;
}
.product-section-content-card-Римская .New {
  position: absolute;
  top: 20px;
  left: 35px;
}
.product-section-content-card-Римская .recommend {
  position: absolute;
  top: 60px;
  left: 35px;
}
.product-section-content-card-Римская .like {
  position: absolute;
  top: 20px;
  left: 240px;
}
.product-section-content-card-Римская .New button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #478ecc;
  border: none;
}
.product-section-content-card-Римская .recommend button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border: none;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
  background: #69a042;
}
.product-section-content-card-Римская .Video-review {
  position: absolute;
  left: 75px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-section-content-card-Римская .Video-review p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #443e3e;
}
.product-section-content-card-Римская .text {
  margin-top: 20px;
}
.product-section-content-card-Римская .text h5 {
  margin-top: 40px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #443e3e;
  width: 205px;
}
.product-section-content-card-Римская .availability {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-section-content-card-Римская .availability p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #646469;
}
.product-section-content-card-Римская h4 {
  padding-top: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #443e3e;
}
.product-section-content-card-Римская .order {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.product-section-content-card-Римская .order .btn1 {
  padding: 15px 24.5px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  border: none;
  background-color: #e81212;
  color: #ffffff;
}
.product-section-content-card-Римская .order .btn2 {
  padding: 15px 49px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  border: none;
  border: 1px solid #e81212;
  color: #e81212;
}
.p {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-section-content .каталог {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.product-section-content .каталог button {
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  border: 1px solid red;
  outline: none;
  color: red;
}
.product-section-content .каталог button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.2s linear;
  border: #fccd05;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 80px -5px rgba(248, 231, 28, 1);
}

/* праздник-section */

.праздник-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.праздник-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.праздник-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.Пиротехника-card {
  text-align: center;
}
.Пиротехника-card img {
  margin-top: 60px;
}
.Пиротехника-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Пиротехника-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}

/* Профессиональные */

.летний-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.летний-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.летний-card {
  text-align: center;
}
.летний-card img {
  margin-top: 60px;
}
.летний-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.летний-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}
/* летний */

.Профессиональные-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.Профессиональные-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.Профессиональные-card {
  text-align: center;
}
.Профессиональные-card img {
  margin-top: 60px;
}
.Профессиональные-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Профессиональные-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}

/* Лучшие */

.Лучшие-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.Лучшие-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.Лучшие-card {
  text-align: center;
}
.Лучшие-card img {
  margin-top: 60px;
}
.Лучшие-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Лучшие-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}

/* Доставка */

.ЛучДоставкаие-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.Доставка-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.Доставка-card {
  text-align: center;
}
.Доставка-card img {
  margin-top: 60px;
}
.Доставка-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Доставка-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}

/* Проверка */

.ЛучДоставкаие-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
  width: 508px;
}
.Проверка-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.Проверка-card {
  text-align: center;
}
.Проверка-card img {
  margin-top: 60px;
}
.Проверка-card h3 {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Проверка-card p {
  margin-top: 10px;
  width: 340px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  columns: #646469;
}

/* img-section */

.img-section {
  margin-top: 100px;
}
.img-section-content {
  display: flex;
  justify-content: center;
}
.img-section-content img {
  width: 100%;
}

/* Давайте */

.Давайте-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.Давайте-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Давайте-section-content div {
  max-width: 800px;
  margin: 0 auto;
}
.Давайте-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Давайте-section-content p {
  margin-top: 30px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #646469;
}

/* Внимание-section */

.Внимание-section {
  margin-top: 43px;
  margin-bottom: 50px;
}
.Внимание-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Внимание-section-content div {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 30px;
  background: #fbe0e0;
}
.Внимание-section-content h3 {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Внимание-section-content p {
  margin-top: 10px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #443e3e;
}

/* Отзывы */

.Отзывы-section {
  margin-top: 100px;
}
.Отзывы-section-content {
  display: flex;
}
.Отзывы-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Отзывы-section-content-работе {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}
.browser {
  margin-top: 40px;
  display: block;
  gap: 40px;
}
.browser p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.browser span {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.mobile-img-google {
  display: none;
}
.yandex h3 {
  margin-top: 10px;
  margin-bottom: 12px;
  width: 210px;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #443e3e;
}
.yandex span {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #443e3e;
}
.text-card {
  margin-top: 110px;
  display: block;
  align-items: start;
}
.text-content {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  margin-bottom: 60px;
}
.text-content .text-title h3 {
  margin-bottom: 10px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.text-content .text-year p {
  padding: 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
}
.text-content .text-text p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #443e3e;
}
.Отзывы-card {
  display: flex;
  align-items: start;
  gap: 30px;
  border-bottom: 1px solid #fbe0e0;
  margin-top: 30px;
}
.Отзывы-card img {
  padding-bottom: 36px;
}
.Отзывы-card h3 {
  display: flex;
  margin-top: -5px;
  margin-bottom: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
}
.Отзывы-card div {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
}
.Отзывы-card p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #443e3e;
}
.text-title p {
  display: none;
}
.mobile-content {
  display: flex;
  justify-content: space-between;
}
.Отзывы-section-content-работе-btn {
  margin-top: -20px;
  display: flex !important;
  justify-content: center;
}
.Отзывы-section-content-работе-btn button {
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  color: #e81212;
  border: 1px solid #e81212;
  margin-bottom: 50px;
}
.Отзывы-section-content-работе-btn button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.2s linear;
  border: #fccd05;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 80px -5px rgba(248, 231, 28, 1);
}

/* Наши-section */

.Наши-section {
  margin-top: 40px;
  margin-bottom: 100px;
}
.Наши-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Наши-section-content-card {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.Наши-section-content-card img {
  width: 400px;
}
.Наши-section-content-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.Наши-section-content-btn button {
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  color: #e81212;
  border: 1px solid #e81212;
}
.Наши-section-content-btn button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.2s linear;
  border: #fccd05;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 80px -5px rgba(248, 231, 28, 1);
}

/*  */

.Статьи-section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Статьи-section-content-text {
  display: flex;
  gap: 30px;
}
.Статьи-section-content h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Статьи-section-content-img {
  margin-top: 40px;
  position: relative;
}
.img-text {
  position: absolute;
  top: 215px;
  left: 30px;
}
.Статьи-section-content-img img {
  width: 100%;
}
.Статьи-section-content-img p {
  /* position: absolute; */
  top: 215px;
  left: 30px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fbe0e0;
}
.Статьи-section-content-img h3 {
  width: 100%;
  /* position: absolute; */
  top: 246px;
  left: 30px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #fff;
}
.Статьи-section-content-news {
  margin-top: 85px;
  display: block;
  justify-content: space-between;
}
.Статьи-section-content-news .text p {
  margin-top: -50px;
  padding-left: 20px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  /* border-left: 1px solid #fbe0e0; */
  color: #999999;
}
.Статьи-section-content-news .text h3 {
  margin-bottom: 110px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #443e3e;
  /* border-left: 1px solid #fbe0e0; */
  border-bottom: 1px solid #fbe0e0;
}
.Статьи-section-content-btn {
  margin-top: -50px;
  display: flex;
  justify-content: center !important;
  margin-bottom: 50px;
}
.Статьи-section-content-btn button {
  padding: 15px 30px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  background: transparent;
  color: #e81212;
  border: 1px solid #e81212;
}
.Статьи-section-content-btn button:hover {
  background-color: #fccd05;
  color: #443e3e;
  transition: all 0.2s linear;
  border: #fccd05;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 0px 80px -5px rgba(248, 231, 28, 1);
}

/* Instagram-section */

.mobile-nik {
  display: none;
}
.Instagram-section-content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Instagram-section-content-title {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.Instagram-section-content-title h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Instagram-section-content-nik {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Instagram-section-content-nik p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #e81212;
}
.Instagram-section-content-card {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Часто-section */

.Часто-section {
  margin-bottom: 100px;
}
.Часто-section-content-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Часто-section-content-title h3 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: rgba(68, 62, 62, 1);
}
.Часто-section-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.Часто-section-content-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.Часто-section-content-btn button {
  padding: 20px 30px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border: none;
  border: 1px solid #cccccc;
  background: transparent;
}
.Часто-section-content-btn button:hover {
  background-color: rgba(252, 205, 5, 1);
  color: #fff;
  transition: all 0.2s;
  box-shadow: 0px 0px 80px -15px rgba(248, 231, 28, 1);
}

/* Контакты-section-content */
.Контакты-section {
  margin-top: 200px;
}
.Контакты-section-content {
  display: flex;
  justify-content: space-between;
}
.Контакты-section-content-title h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  color: #443e3e;
}
.Контакты-section-content-title img {
  margin-bottom: 40px;
}
.Контакты-section-content-title {
  margin-top: -100px;
}
.Контакты-section-content h4 {
  margin-bottom: 10px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #443e3e;
}
.Контакты-section-content p {
  margin-bottom: 30px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 300px;
  color: #646469;
}
.call {
  margin-bottom: 30px;
  display: flex;
  align-items: start;
  gap: 18px;
}
.call h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #443e3e;
}
.call p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #646469;
}
.sms {
  margin-bottom: 30px;
  display: flex;
  gap: 18px;
}
.sms h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #443e3e;
}
.lacation {
  margin-top: 30px;
  display: flex;
  align-items: start;
  gap: 18px;
  border-bottom: 1px solid #fbe0e0;
}
.lacation p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #443e3e;
}
.Информация {
  margin-top: 30px;
}
.Информация h5 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #443e3e;
}
.Информация p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #646469;
}

/* Закажите-section" */

.Закажите-section-content {
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("./images/Закажите-section/hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 374px;
}
.Закажите-section-content-title {
  text-align: center;
}
.Закажите-section-content-title h2 {
  padding-top: 50px;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 600;
  line-height: 42.66px;
  text-align: center;
  color: #fff;
}
.Закажите-section-content-title p {
  margin-top: 20px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #fff;
}
.Закажите-section-content-input {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
}
.Закажите-section-content-input p {
  margin-bottom: 5px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #cccccc;
}
.Закажите-section-content-input input {
  padding: 10px 115px 10px 15px;
  background-color: #fff;
  outline: none;
  border: none;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  cursor: pointer;
}
.Закажите-section-content-input button {
  padding: 15px 44.5px;
  height: 44px;
  outline: none;
  border: none;
  background-color: #e81212;
  cursor: pointer;
}
.Закажите-section-content-input button:hover {
  background-color: rgba(252, 205, 5, 1);
  color: #fff;
  transition: all 0.2s;
  box-shadow: 0px 0px 80px -15px rgba(248, 231, 28, 1);
}
.Закажите-section-content-input button a {
  color: #fff;
}

/* footer-section */

.footer-section {
  margin-top: 95px;
  background-color: #443e3e;
}
.footer-section-content {
  padding-top: 50px;
  padding-bottom: 100px;
}
.call-footer {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
.call-footer h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
.call-footer p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #cccccc;
}
.sms-footer {
  margin-top: 30px;
  display: flex;
  gap: 27px;
  align-items: center;
}
.sms-footer h6 {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.footer-section-content-title {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #999999;
}
.footer-section-content-title button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #e81212;
  outline: none;
  border: none;
}
.footer-section-content-title button:hover {
  background-color: rgba(252, 205, 5, 1);
  color: #fff;
  transition: all 0.2s;
  box-shadow: 0px 0px 80px -15px rgba(248, 231, 28, 1);
}
.footer-section-content-title button a {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.22px;
  color: #fff;
}
.footer-section-content-title-list p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #cccccc;
}
.footer-section-content-title-menu p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  color: #fff;
}
.footer-section-content-title-wep {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer-section-content .year p {
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #cccccc;
}
.footer-section-content-text p {
  padding-top: 30px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  border-top: 1px solid #999999;
  color: #999999;
}
/* respansive */

@media (max-width: 1247px) {
  .Статьи-section-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1232px) {
  .cards-section-content .cards-section-content-imgContainer img {
    width: 100%;
  }
  .cards-section-content-imgContainer span {
    left: 30px;
    bottom: 20px;
  }
  .Статьи-section-content-text {
    margin-top: 80px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 1120px) {
  .header-phone-content {
    display: flex;
    padding: 10px 10px;
  }
  .header-phone-content-menu {
    display: flex;
    gap: 20px;
  }
  .header-phone-content-search {
    display: flex;
    gap: 20px;
  }
  .header-top {
    display: none;
  }
  .header-bottom {
    display: none;
  }
}
@media (max-width: 972px) {
  .Наши-section-content-card img {
    width: 285px;
  }
  .Наши-section-content-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 947px) {
  .par {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 888px) {
  .Отзывы-section-content {
    display: block;
    flex-wrap: wrap;
    align-items: center;
  }
  .text-title {
    display: block;
    flex-wrap: wrap;
  }
  .mobile-content {
    display: flex;
    justify-content: space-between;
  }
  .text-content {
    display: block;
    flex-direction: column;
  }
}
@media (max-width: 887px) {
  .p {
    display: flex;
    justify-content: center;
  }
  .Отзывы-section-content-работе {
    display: flex;
    flex-wrap: wrap;
  }
  .browser {
    display: flex;
  }
  .Отзывы-section-content-работе {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .Отзывы-card {
    display: block;
  }
  .text-title {
    display: block;
    justify-content: space-between;
  }
  .text-title p {
    display: flex;
  }
  .Отзывы-card-years {
    display: none;
  }
  .Отзывы-card p {
    display: flex;
    text-align: unset;
  }
}
@media (max-width: 742px) {
  .mobile-card {
    margin-top: -25px;
  }
  .Пиротехника-card {
    text-align: unset;
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .Пиротехника-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .Пиротехника-card p {
    width: 275px;
  }
  .mobile-card {
    margin-top: -25px;
  }
  .Профессиональные-card {
    display: flex;
    text-align: unset;
    align-items: start;
    gap: 10px;
  }
  .Профессиональные-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .Профессиональные-card p {
    width: 275px;
  }
  .летний-card {
    text-align: unset;
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .летний-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .летний-card p {
    width: 275px;
  }
  .Лучшие-card {
    text-align: unset;
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .Лучшие-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .Лучшие-card p {
    width: 275px;
  }
  .Доставка-card {
    text-align: unset;
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .Доставка-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .Доставка-card p {
    width: 275px;
  }
  .Проверка-card {
    text-align: unset;
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .Проверка-card h3 {
    width: 275px;
    font-size: 16px;
    line-height: 24px;
  }
  .Проверка-card p {
    width: 275px;
  }
}
@media (max-width: 677px) {
  .product-section-content-category {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .праздник-section-content h2 {
    width: 340px;
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 602px) {
  .p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-section-content-card-Цветной .New {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .product-section-content-card-Цветной .discount {
    position: absolute;
    top: 40px;
    left: 0px;
  }
  .product-section-content-card-Шутихи .New {
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .product-section-content-card-Шутихи .Hit {
    position: absolute;
    top: 60px;
    left: 0px;
  }
  .product-section-content-card-Салют .New {
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .product-section-content-card-Римская .New {
    position: absolute;
    top: 20px;
    left: 0px;
  }
  .product-section-content-card-Римская .recommend {
    position: absolute;
    top: 60px;
    left: 0px;
  }
  .product-section-content-card-Цветной .like {
    position: absolute;
    top: 0px;
    left: 250px;
  }
  .product-section-content-card-Цветной .text h5 {
    width: 100%;
  }
  .product-section-content-card-Шутихи .text h5 {
    width: 100%;
  }
  .product-section-content-card-Салют .text h5 {
    width: 100%;
  }
  .product-section-content-card-Римская .text h5 {
    width: 100%;
  }
  .product-section-content-card-Цветной .order {
    display: flex !important;
  }
  .product-section-content-card-Римская .order {
    display: flex;
  }
  .product-section-content-card-Салют .order {
    display: flex;
  }
  .product-section-content-card-Римская .order {
    display: flex;
  }
  .Статьи-section-content-img h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
  }
}
@media (max-width: 592px) {
  .Instagram-section-content-card {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .Instagram-section-content-card img {
    width: 160px;
  }
  .Instagram-section-content-nik {
    display: none;
  }
  .mobile-nik {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .mobile-nik p {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #e81212;
  }
}
@media (max-width: 535px) {
  .hero-section-content {
    margin: auto;
  }
  .hero-section-content h1 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 600;
    line-height: 46.88px;
    text-align: center;
  }
  .hero-section-content span {
    margin-top: 5px;
    font-size: 38px;
    font-weight: 600;
    line-height: 46.88px;
    text-align: center;
  }
  .kero_content_text_par p {
    margin-top: -10 px;
    font-size: 10px;
    font-weight: 200;
    line-height: 13.7px;
    text-align: center;
    max-width: 300px !important;
  }
  .hero-section-content button {
    font-size: 10px;
    font-weight: 300;
    line-height: 13.22px;
    padding: 10px 20px;
    /* text-align: center; */
  }
  .product-section-content-title h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 32.66px;
  }
  .product-section-content-title p {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
  }
  .Давайте-section-content h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.44px;
    width: 100%;
  }
  .праздник-card-section {
    display: flex;
    justify-content: center !important;
    width: 100% !important;
  }
  .par {
    display: flex;
    justify-content: center;
  }
  .browser {
    display: flex;
    gap: 10px;
  }
  .yandex .yandex {
    display: none;
  }
  .mobile-img-google {
    display: flex;
    justify-content: center;
  }
  .Отзывы-section-content-работе {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .Статьи-section-content-img h3 {
    width: 250px;
  }
}
@media (max-width: 450px) {
  .browser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }
  .Instagram-section-content-card img {
    width: 120px;
  }
  .Instagram-section-content-card {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Instagram-section-content-title h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.66px;
  }
}
@media (max-width: 350px) {
  .hero-section-content h1 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.88px;
    text-align: center;
  }
  .hero-section-content span {
    margin-top: 5px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36.88px;
    text-align: center;
  }
  .hero-section-content-button button {
    font-size: 10px;
    font-weight: 200;
    line-height: 12.22px;
    padding: 5px 10px;
    margin-left: 85px;
  }
  .hero-section-img img {
    margin: auto;
    max-width: 250px;
  }
  .order {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .product-section-content-card-Цветной .order .btn1 {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Цветной .order .btn2 {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Шутихи .order .btn1 {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Шутихи .order .btn2 {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Салют .order .btn1 {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Салют .order .btn2 {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Римская .order .btn1 {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .product-section-content-card-Римская .order .btn2 {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 200;
    line-height: 10.22px;
  }
  .праздник-section-content h2 {
    width: 300px;
    font-size: 18px;
    line-height: 18px;
  }
  .Пиротехника-card h3 {
    width: 200px;
  }
  .Пиротехника-card p {
    width: 200px;
  }
  .Проверка-card h3 {
    width: 200px;
  }
  .Проверка-card p {
    width: 200px;
  }
  .Доставка-card h3 {
    width: 200px;
  }
  .Доставка-card p {
    width: 200px;
  }
  .Лучшие-card h3 {
    width: 200px;
  }
  .Лучшие-card p {
    width: 200px;
  }
  .летний-card h3 {
    width: 200px;
  }
  .летний-card p {
    width: 200px;
  }
  .Профессиональные-card p {
    width: 200px;
  }
  .Профессиональные-card h3 {
    width: 200px;
  }
  .Статьи-section-content-img h3 {
    width: 200px;
  }
  .Instagram-section-content-card {
    display: flex;
    justify-content: space-around;
  }
}
